:root {
    --primary-color: #721bff;
    --light-color: white;
    --dark-color: #d1d1d1;
    --danger-color: #a91a1a;
    --danger-light-color: #fab8b8;

    --text-dark-color: #3a3a3a;
    --text-light-color: #ffffff;
    --text-link-color: #a878f5;
    --text-danger-color: #8f1616;

    --box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}